{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <title>HUDS Food Waste</title>
    </head>
{% block main %}

    <h4 style="color:red">For Harvard Undergrads</h4><br>
    <h6 style="">Login with your username and password</h6><br>
    <form action="/login" method="post" style="text-align:center; width: 500px;">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
